<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="client" class="com.spring.core.model.Client">
        <constructor-arg value="1"/>
        <constructor-arg value="John Smith"/>
    </bean>

    <bean id="eventLogger" class="com.spring.core.logger.ConsoleEventLogger"/>

    <bean id="cacheFileEventLogger" class="com.spring.core.logger.CacheFileEventLogger" destroy-method="destroy" parent="fileEventLogger">
        <constructor-arg value="3"/>
    </bean>

    <bean id="fileEventLogger" class="com.spring.core.logger.FileEventLogger" init-method="init">
        <constructor-arg value="log.txt"/>
    </bean>

    <bean id="event" class="com.spring.core.event.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg>
            <bean class="java.text.DateFormat" factory-method="getDateTimeInstance"/>
        </constructor-arg>
        <property name="msg" value="Some event for user 1"/>
    </bean>

    <bean id="app" class="com.spring.core.App">
        <constructor-arg name="client" ref="client"/>
        <constructor-arg name="eventLogger" ref="cacheFileEventLogger"/>
    </bean>

</beans>