<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
 		http://www.springframework.org/schema/util
 		http://www.springframework.org/schema/util/spring-util-3.2.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:client.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true" />
    </bean>

    <import resource="loggers.xml"/>

    <import resource="model.xml"/>

    <bean id="app" class="com.spring.core.App">
        <constructor-arg name="client" ref="client"/>
        <constructor-arg name="eventLogger" ref="consoleEventLogger"/>
        <constructor-arg ref="loggerMap"/>
    </bean>

    <bean id="eventType" class="com.spring.core.model.EventType" factory-method="valueOf">
        <constructor-arg>
            <value>INFO</value>
        </constructor-arg>
    </bean>

    <util:map id="loggerMap">
        <entry key="INFO" value-ref="consoleEventLogger" />
        <entry key="ERROR" value-ref="combinedEventLogger" />
    </util:map>

</beans>